:root{
    --main-color:#6249e5;
    --second-color:#7660fc;
    --second-alt-color:#3e20d8;
}
body{
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(to left, #9f5ccf ,  #061e95);
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 295px;
    text-align: center;
    font-family: system-ui,sans-serif;
    color: white;
    background-color: var(--main-color);
    font-weight: 500;
    margin: auto;
}
.title{
    padding: 10px 0;
    margin: 0 0 5px;
    background-color: var(--second-color);
}

span{
    color: rgba(29, 14, 31, 0.945);
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--second-color);
    border: 3px solid #e17ff5f1;
    float: left;
    margin: 6px;
    font-size: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.square:hover{
    background-color: var(--second-alt-color);
    cursor: pointer;
}